{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!Doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>




<body id="top">

   <header>
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="index.html">MENU</a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Inicio</a></li>
						<li><a class="smoothscroll"  href="#about" title="">Acerca de mi</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Resumen</a></li>
						<li><a class="smoothscroll"  href="#services" title="">Servicios</a></li>			
						<li><a class="smoothscroll"  href="#contact" title="">Contacto</a></li>					
					</ul>
				</nav>    		
   		</div>
   		
   	</div> 		
   </header>

   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>HOLA.</h5>
	   			<h1>YO soy Jose Crooquer.</h1>

	   			<p class="intro-position">
	   				<span>Front-end Developer</span>
	   				<span>UI/UX Designer</span> 
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">Acerca de mi</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> 

   	<ul class="intro-social">        
         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
         <li><a href="#"><i class="fa fa-behance"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
         <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>	

   </section>


   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Sobre mi</h5>
   			<h1>Permiteme Presentarme</h1>

   			<div class="intro-info">

   				<img src="/Screenshot_2021-11-01-17-42-19-694_com.whatsapp.w4b.jpg" alt="FOTO">

   				<p class="lead">Mi nombre es Jose Crooquer. Actualmente, me encuentro inmerso en un apasionante proceso de formación en la UNRAF, donde estoy cursando la diplomatura de desarrollo de software. Tomé la decisión de embarcarme en esta carrera debido a mi profunda pasión por el mundo de la tecnología y la programación, una pasión que, por diversos motivos, había postergado en el pasado.
					Siento que he encontrado mi verdadera pasión en el desarrollo de software y estoy decidido a aprovechar al máximo esta oportunidad de crecimiento y aprendizaje. Espero poder aplicar mis habilidades y conocimientos en proyectos desafiantes que contribuyan al avance tecnológico y al desarrollo de soluciones innovadoras para los desafíos del mundo actual.
				</p>
   			</div>   			

   		</div>   		
   	</div>

   	<div class="row about-content">

   		<div class="col-six tab-full">


   			<ul class="info-list">
   				<li>
   					<strong>Nombre completo:</strong>
   					<span>Jose A Crooquer</span>
   				</li>
   				<li>
   					<strong>Fecha Nacimiento:</strong>
   					<span>Octubre 26, 1989</span>
   				</li>
   				<li>
   					<strong>Trabajo:</strong>
   					<span>Freelancer, Frontend Developer</span>
   				</li>
   				
   				<li>
   					<strong>Email:</strong>
   					<span>josecrooquer@gmail.com</span>
   				</li>

   			</ul>

   		</div>
		
   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="/Crooquer Colmenarez J.A. CV.pdf" title="Download CV" class="button button-primary">Descarga mi CV</a>
   		</div>   		
   	</div>

   </section>


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   		</div>   		
   	</div>

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Experiencia Laboral</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Asesor de Ventas.</h3>
	   					<p>08-2021 a 11-2021</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>AMIUN S.A.</h4>
	   					<p>Rafaela. Argentina</p>
	   				</div>

	   			</div>

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Asesor de Ventas.</h3>
	   					<p>06-20-07-21</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Luna Piscinas.</h4>
	   					<p>San Guillermo. Argentina</p>
	   				</div>

	   			</div>

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Empleado de Mantenimiento.</h3>
	   					<p>06-2018 a 10-2019</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Grupo Ingeniox S.A.C.</h4>
	   					<p>Lima. Perú</p>
	   				</div>

	   			</div>

   			</div>

   		</div>
   		
   	</div>
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Educacion</h2>

   		</div>

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Diplomatura en desarrollo de sofware.</h3>
	   					<p>03-2021 - Presente</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>UNRAF</h4>
	   					<p>Rafaele. Argentina <br> 
						"En curso"</p>
	   				</div>

	   			</div>

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Ciencias Juridicas y Politicas</h3>
	   					<p>01-2007 - 11-2011</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Universidad Yacambú</h4>
	   					<p>Cabudare. Venezuela <br>
						"Incompleto"</p>
	   				</div>

	   			</div>

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachiller en Ciencias.</h3>
	   					<p>09-2001 - 06-2006</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Unidad Educativa Liceo “Eduardo Blanco”.</h4>
	   					<p>El Tocuyo. Venezuela</p>
	   				</div>

	   			</div>

   			</div>

   		</div>
   		
   	</div>
		
	</section>

	
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Servicios.</h5>
   			<h1>¿Que puedo hacer por ti?</h1>

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">	

	      		<span class="icon"><i class="icon-earth"></i></span>            

	            <div class="service-content">	

	            	 <h3>Diseño Web</h3>

		            <p class="desc">¿Necesitas un sitio web atractivo, funcional y personalizado para tu negocio? ¡Estás en el lugar indicado! Nuestro equipo de expertos en diseño web está listo para brindarte un servicio de calidad que se adapte a tus necesidades y objetivos.</p>
	         		
	         	</div> 	         	 

				</div>

				<div class="service">	

					<span class="icon"><i class="icon-window"></i></span>                          

	            <div class="service-content">	

	            	<h3>Desarrollo Web</h3>  

		            <p class="desc">¿Necesitas un sitio web dinámico, interactivo y totalmente funcional? ¡Estamos aquí para ayudarte! Nuestro equipo de expertos en desarrollo web ofrece soluciones a medida para satisfacer tus necesidades digitales.</p>

	            </div>	                          

			   </div>

			   <div class="service">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>		            

	            <div class="service-content">

	            	<h3>Gestion de Marca</h3>

		            <p class="desc">Nuestro servicio de gestión de marca está diseñado para ayudarte a construir una identidad sólida y coherente que represente los valores y la esencia de tu negocio.</p> 

	            </div> 	            	               

			   </div>

				<div class="service">

					<span class="icon"><i class="icon-toggles"></i></span>	              

	            <div class="service-content">

	            	<h3>Diseño UI/UX</h3>

		            <p class="desc">Nuestro servicio de diseño UI/UX está diseñado para crear interfaces intuitivas y atractivas que maximicen la satisfacción de tus usuarios y hagan brillar tu producto o servicio.</p> 
	         		
	            </div>                

				</div>

			   <div class="service">

			   	<span class="icon"><i class="icon-image"></i></span>	            

	            <div class="service-content">

	            	<h3>Diseño Grafico</h3>

		            <p class="desc">Nuestro servicio de diseño gráfico está diseñado para ayudarte a crear una identidad visual única y atractiva que capte la atención de tu audiencia.</p> 

	            </div>	               

			   </div>

			   <div class="service">

			   	<span class="icon"><i class="icon-chat"></i></span>	   	           

	            <div class="service-content">

	            	 <h3>Consultoria</h3>

		            <p class="desc">Nuestro servicio de consultoría está diseñado para ayudarte a alcanzar tus objetivos, superar desafíos y tomar decisiones estratégicas informadas.</p> 
	        			
	            </div>	               

			   </div>

	      </div>
   		
   	</div>
		
	</section>

	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contactos</h5>
   			<h1>Me encantaría saber de usted.</h1>

   		</div> 
   	</div>



   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Donde Encontrarme</h5>

   			<p>
            Bv Presidente Roca 989<br>
            Rafaela, Santa Fe<br>
            CP 2300
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Envíame un correo electrónico a</h5>

   			<p>josecrooquer@gmail.com</p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>LLamame al</h5>

   			<p>Telefono: (+54) 555 1212<br>
			   	Telefon celular: (+56) 555 0100<br>
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
			      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			      <li><a href="#"><i class="fa fa-behance"></i></a></li>
			      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
			      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright JC 2023.</span> 
		        	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>

</html>
{% endblock %}